<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<h1 class="pagetitle">Démos</h1>

<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60" class="featured">
			<div class="title_wrapper">
				<span class="has-text-white trend">Trending Today</span>
				<h1 class="title is-1 has-text-white">F❤️ck You - Dazoo</h1>
				<a href="#babyshark"  class="videolink">
        <button class="button is-medium">Watch it Now</button>
        <div id="babyshark" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
          <iframe src="https://drive.google.com/file/d/1zmTBqlnA1VrRR2cQKz0LSS7Gf1QebhmC/preview" width="400" height="400" allow="autoplay" allowfullscreen></iframe>
        </div>
        </a>
      </div>
		</div>
	</div>
  <div class="section2">à voir aussi: </div>
</div>

<div class="v_card" id="bright">
  <a href="#vocal1" class="videolink">
    <div id="vocal1" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe src="https://drive.google.com/file/d/1todQrrGLcFOh6o4nAH1j8POJidF4CMG7/preview" width="640" height="480" allow="autoplay" allowfullscreen></iframe>
    </div>
    <div class="info_section">
      <div class="v_header">
        <img class="locandina" src="https://scontent.fbod1-1.fna.fbcdn.net/v/t1.6435-9/123622949_1815241251960433_3631565298364071839_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=X7_QMVPw1ZUAX-WTwoW&_nc_ht=scontent.fbod1-1.fna&oh=00_AT9y9rWARegS7sBBPbkzw53oRO8Qo_XIvqC2a6spiwU5tA&oe=62E894CA"/>
        <div class="v1">Bloody Valentine -Machine Gun- Kelly(cover) (vocal)</div>
        <h4>2022, Harrisson Nguyen</h4>
        <span class="videominutes">0:51</span>
        <p class="videotype">Rock, Pop-rock</p>
      </div>
      <div class="v_desc">
        <p class="text">
        <!--
          <strong>Description optionnel: </strong>Chuck Norris ne tue pas les mouches, Car Chuck Norris n'est pas une Tapette!
        -->
        </p>
      </div>
      <div class="v_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
  </a>
  <div class="blur_back bright_back"></div>
</div>

<div class="v_card" id="tomb">
  <a href="#guitar1" class="videolink">
    <div id="guitar1" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe src="https://drive.google.com/file/d/1KTKt_09dOy6m2crObyIxhA_hRMML2OPb/preview" width="640" height="480" allow="autoplay" allowfullscreen></iframe>
    </div>
    <div class="info_section">
      <div class="v_header">
        <img class="locandina" src="https://images.unsplash.com/photo-1543946207-39bd91e70ca7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YW5pbWV8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="v1">Ko Ki -Plini (Cover) (Guitare)</div>
        <h4>2022, Léo Nom</h4>
        <span class="videominutes">0:47</span>
        <p class="videotype">Rock, Pop-rock</p>
      </div>
      <div class="v_desc">
        <p class="text">
        <!--
          <strong>Description optionnel: </strong>A son mariage, Chuck Norris avait Oncle Ben's en personne pour lui jeter du riz.
        -->
        </p>
      </div>
      <div class="v_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
  </a>
  <div class="blur_back tomb_back"></div>
</div>

<div class="v_card" id="ave">
  <a href="#drum" class="videolink">
    <div id="drum" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe src="https://drive.google.com/file/d/1PRkg3sg2s-PONuEBZZ14aDnVNQLDSILV/preview" width="640" height="480" allow="autoplay" allowfullscreen></iframe>
    </div>
    <div class="info_section">
      <div class="v_header">
        <img class="locandina" src="https://images.unsplash.com/photo-1613487971624-24f87ffdbfc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW5pbWV8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="v1">Impro (Batterie)</div>
        <h4>2022, Théo</h4>
        <span class="videominutes">0:23</span>
        <p class="videotype">Rock, Pop-rock</p>
      </div>
      <div class="v_desc">
        <p class="text">
        <!--
        <strong>Description optionnel: </strong>Un jour un mec a refuser de filer une clope à Chuck Norris. Depuis, on prévient sur tous les paquets que "Fumer tue".
        -->
        </p>
      </div>
      <div class="v_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
  </a>
  <div class="blur_back ave_back"></div>
</div>

<div class="v_card" id="bright">
  <a href="#bass" class="videolink">
    <div id="bass" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe src="https://drive.google.com/file/d/1GmfvjMroP0Qg-FBZ4YMLwNG0UXYD2NOA/preview" width="640" height="480" allow="autoplay" allowfullscreen></iframe>
    </div>
    <div class="info_section">
      <div class="v_header">
        <img class="locandina" src="https://images.unsplash.com/photo-1613487971624-24f87ffdbfc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW5pbWV8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60"/>
        <div class="v1">Nom du son (Bass)</div>
        <h4>2022, Arnaud</h4>
        <span class="videominutes">0:35</span>
        <p class="videotype">Rock, Pop-rock</p>
      </div>
      <div class="v_desc">
        <p class="text">
        <!--
          <strong>Description optionnel: </strong>Un jour un mec a refuser de filer une clope à Chuck Norris. Depuis, on prévient sur tous les paquets que "Fumer tue".
        -->
        </p>
      </div>
      <div class="v_social">
        <ul>
          <li><i class="material-icons">share</i></li>
          <li><i class="material-icons"></i></li>
          <li><i class="material-icons">chat_bubble</i></li>
        </ul>
      </div>
    </div>
  </a>
  <div class="blur_back bright_back"></div>
</div>

<script>

    $('.videolink').magnificPopup({
      type:'inline',
      midClick:true,
    })

  </script>
