<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<h1 class="pagetitle">Démos</h1>

<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJvY2slMjBjb25jZXJ0fGVufDB8fDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60" class="featured">
			<div class="title_wrapper">
				<span class="has-text-white trend">Trending Today</span>
				<h1 class="title is-1 has-text-white">The Untold Story of the great Great Baby Shark</h1>
				<button class="button is-medium">Watch It Now</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns is-multiline p-0 pt-6 last">
		<div class="column is-full">
			<p class="has-text-white musicslists">Musics Collection</p>
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1503528108408-87b0d1c2b785?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fHJvY2slMjBtdXNpY3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1576328172036-6d52156c525f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cm9jayUyMG11c2ljfGVufDB8fDB8YmxhY2t8&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1614814376290-a32944945761?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHJvY2slMjBtdXNpY3xlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1468392788711-903a924761a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHJvY2slMjBtdXNpY3xlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60">
		</div>
	</div>
	<div class="columns last">
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1507638136177-1e4d9d20bd31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzV8fHJvY2slMjBtdXNpY3xlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1619229725904-e4033d021e71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fHJvY2slMjBtdXNpY3xlbnwwfHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1617339859516-998a15d4ba42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjA1fHxyb2NrJTIwbXVzaWN8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60">
		</div>
		<div class="column is-one-quarter">
			<img src="https://images.unsplash.com/photo-1499711860525-c485eb341d5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZW1vaml8ZW58MHx8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60">
		</div>
	</div>
</div>
