<div class="card">
  <img src="https://images.unsplash.com/photo-1566981731417-d4c8e17a9e82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cm9jayUyMGNvbmNlcnR8ZW58MHx8MHxibGFja19hbmRfd2hpdGV8&auto=format&fit=crop&w=500&q=60" class="card__image" alt="brown couch" />
  <div class="card__content">
    <time datetime="2021-03-30" class="card__date">01 Juillet 2022</time>
    <span class="card__title">Le groupe a été créé fin 2018. Après une succession de plusieurs chanteuses et bassistes, la line up se compose finalement de 4 membres : Théo, Léo, Harry et Arnaud. Tout d’abord très pop, le groupe change de vocaliste et devient plus pop rock, rock, voire TRÈS rock. Répertoire essentiellement basé sur des reprises mais aussi des compositions originales toujours dans le même style
<span>
  </div>
</div>
