<div id="dazooLogo" class="position_fixed" style="top: 44px; opacity: 1;">
  <a href="/">
    <%= image_tag("Dazoo.jpg?v=1.1.3", :alt => "images", class:"position_absolute w100", id:"cooldazoologo") %>
  </a>
</div>
