<div class="burger">
  <input id="toggle" type="checkbox">

  <label for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
  </label>

  <div class="food">
    <div class="nav-wrapper">
      <nav>
        <a href="/#">Home</a><br>
        <a href="demos#index">Démos</a><br>
        <a href="abouts#index">A Propos</a><br>
        <a href="contacts#index">Contact</a><br>
        <a href="faqs#index">FAQ</a>
      </nav>
    </div>
  </div>
</div>
