<!--
<div id="menuPicto" class="position_fixed" style="top: 32px; opacity: 1;">
  <span class="menuBar menuBarTop" style="top: 10px;"></span>
  <span class="menuBar menuBarMid" style="left: 0px; opacity: 1;"></span>
  <span class="menuBar menuBarBtm" style="top: 20px;"></span>
</div>
<div class="text-menu">
  <ul class="menu">
    <div class="link_burger">
      <li><%= link_to "Projets", href="/#",class:"menuLink active"%></li>
      <li><%= link_to "A propos", href="/#",class:"menuLink active"%></li>
      <li><%= link_to "Something", href="/#", class:"menuLink active"%></li>
      <li><%= link_to "Something", href="/#", class:"menuLink active"%></li>
    </div>
  </ul>
</div>
<div class="menu-btn">
  <button class="btn-open-menu"><span></span><span></span><span></span></button>
</div>
-->
<div class="burger">
  <input id="toggle" type="checkbox"></input>

  <label for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
  </label>

  <div class="food">
    <div class="nav-wrapper">
      <nav>
        <a href="#">Home</a><br>
        <a href="#">About</a><br>
        <a href="#">Contact</a><br>
        <a href="#">Faq</a>
      </nav>
    </div>
  </div>
</div>
