<nav id="navbar">
  <ul class="navigation">
    <li><a href="/homes#index" class=navlink>Home</a></li>
    <li><a href="/abouts#index" class=navlink>About</a></li>
    <%= render 'shared/logo' %>
    <li><a href="contacts#index" class=navlink>Contact</a></li>
    <li><a href="faq#index" class=navlink>Faq</a></li>
  </ul>
</nav>
<%#= link_to "Contact", "/contacts#index", class: "navlink" %>
