<nav id="navbar">
  <ul class="navigation">
    <li><a href="#!" class=navlink>Home</a></li>
    <li><a href="#!" class=navlink>About</a></li>
    <%= render 'shared/logo' %>
    <li><a href="#!" class=navlink>Contact</a></li>
    <li><a href="#!" class=navlink>Faq</a></li>
  </ul>
</nav>
