<nav id="navbar">
  <ul class="navigation">
    <li><a href="/#" class=navlink>Home</a></li>
    <li><a href="/abouts#index" class=navlink>A Propos</a></li>
    <%= render 'shared/logo' %>
    <li><a href="/contacts#index" class=navlink>Contact</a></li>
    <li><a href="/faqs#index" class=navlink>Faq</a></li>
  </ul>
</nav>
<%#= link_to "Contact", "/contacts#index", class: "navlink" %>
