<fieldset class="slideshow">

  <!-- Slide 1 -->
  <input type="radio" id="slideCheckbox1" name="slide" checked autofocus></input>
  <div class="slide1">
    <div class="slide__html">
      <!-- You can include HTML instead of a background image using .slide__html -->
    </div>
    <div class="slide__content">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1566981731417-d4c8e17a9e82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cm9jayUyMGNvbmNlcnR8ZW58MHx8MHxibGFja19hbmRfd2hpdGV8&auto=format&fit=crop&w=500&q=60" class="card__image" alt="brown couch" />
        <div class="card__content">
          <time datetime="2021-03-30" class="card__date"> <strong>Dazoo</strong> 01 Juillet 2022</time>
          <span class="card__title">Le groupe a été créé fin 2018. Après une succession de plusieurs chanteuses et bassistes, la line up se compose finalement de 4 membres : Théo, Léo, Harry et Arnaud. Tout d’abord très pop, le groupe change de vocaliste et devient plus pop rock, rock, voire TRÈS rock. Répertoire essentiellement basé sur des reprises mais aussi des compositions originales toujours dans le même style
          <span>
        </div>

      </div>
    </div>
  </div>

  <!-- Slide 2 -->
  <input type="radio" id="slideCheckbox2" name="slide"></input>
  <div class="slide1">
    <div class="slide__content">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1613135587561-33388c8dcade?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGRydW1zfGVufDB8fDB8YmxhY2tfYW5kX3doaXRlfA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card__image" alt="Drums" />
        <div class="card__content">
          <time datetime="2021-03-30" class="card__date">01 Juillet 2022</time>
          <span class="card__title"> <strong style="color: #FF5A53">Théo</strong> : Il a plus de 10 ans de batterie dans les bras et dans les jambes et 6-7 ans de guitare dans les doigts. Il a commencé les scènes très tôt lors des « Festiclals » à Mérignac, qui étaient les fêtes de fin d’années de la MJCCLAL. Ses influences sont plutôt Indie, pop, pop rock, mais il est très polyvalent.
<strong>Artistes</strong> : Pixies, Paramore, Foo Fighters
          <span>
        </div>
      </div>

    </div>
  </div>

  <!-- Slide 3 -->
  <input type="radio" id="slideCheckbox3" name="slide"></input>
  <div class="slide1">
    <div class="slide__content">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1496638449072-3d7265888ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2luZ2VyfGVufDB8fDB8YmxhY2tfYW5kX3doaXRlfA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card__image" alt="sing in the rain" />
        <div class="card__content">
          <time datetime="2021-03-30" class="card__date">01 Juillet 2022</time>
          <span class="card__title"> <strong style="color: #FF5A53">Harrisson (Harry)</strong> : Cela fait une dizaine d’années qu’il joue de la guitare. Il a rencontré Théo à la MJCCLAL aux alentours de 12 ans, avant de se rendre compte qu’ils se connaissaient depuis la grande section en maternelle. Il a également participé aux Festiclals à Mérignac. Ses influences sont rap, rock, pop rock mais reste également ouvert à tous les styles.
Artistes : Machine Gun Kelly, Paramore, Lil Peep
          <span>
        </div>
      </div>

    </div>
  </div>

  <!-- Slide 4 -->
  <input type="radio" id="slideCheckbox4" name="slide"></input>
  <div class="slide1">
    <div class="slide__content">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1501962679900-bea61483313b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGd1aXRhciUyMHJvY2t8ZW58MHx8MHxibGFja19hbmRfd2hpdGV8&auto=format&fit=crop&w=500&q=60" class="card__image" alt="Guitar" />
        <div class="card__content">
          <time datetime="2021-03-30" class="card__date">01 Juillet 2022</time>
          <span class="card__title"> <strong style="color: #FF5A53">Léo</strong> : Il a commencé la guitare il y a plus de 10 ans à la Rock School Barbey à Bordeaux. Il a fait ses débuts sur scène à la Rock School Barbey. Ses influences sont rock, rock progressif, métal mais grâce aux regroupements, il a aussi pu toucher à tous les styles.
Artistes : Plini, Bullet For My Valentine, Foo Fighters (en fait le jeu Guitar Hero)
          <span>
        </div>
      </div>

    </div>
  </div>

  <!-- Slide 5 -->
  <input type="radio" id="slideCheckbox5" name="slide"></input>
  <div class="slide1">
    <div class="slide__content">

      <div class="card">
        <img src="https://images.unsplash.com/photo-1495651779359-881fde1808a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z3VpdGFyJTIwYmFzc3xlbnwwfHwwfGJsYWNrX2FuZF93aGl0ZXw%3D&auto=format&fit=crop&w=500&q=60" class="card__image" alt="Guitar" />
        <div class="card__content">
          <time datetime="2021-03-30" class="card__date">01 Juillet 2022</time>
          <span class="card__title"> <strong style="color: #FF5A53">Arnaud</strong> : 5 ans de basse à son actif, musicien de Rock School ses 4 premières années, composées de Red Hot Chili Peppers ou Shaka Ponk. Autodidacte à la maison, il passe ses journées à jouer Tool ou Snarky Puppy, en passant par la soul de Stevie Wonder.
Artistes:   Tool, Snarky Puppy, Stevie Wonder
          <span>
        </div>
      </div>

    </div>
  </div>

  <!-- Add more slides here! -->

  <nav class="art">

    <!-- Add slide labels here! -->

    <label class="slide-button" for="slideCheckbox1">Intro</label>
    <label class="slide-button" for="slideCheckbox2">Drum Bro</label>
    <label class="slide-button" for="slideCheckbox3">Singer Gay</label>
    <label class="slide-button" for="slideCheckbox4">Guitar Bro</label>
    <label class="slide-button" for="slideCheckbox5">Bass Bro</label>
  </nav>

</fieldset>
