<div class="content__video">

    <a class="btn__video" href="#videostory" id="videolink">Découvrir</a>

    <div id="videostory" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe src="https://drive.google.com/file/d/1zmTBqlnA1VrRR2cQKz0LSS7Gf1QebhmC/preview" width="auto" height="auto" allow="autoplay" allowfullscreen></iframe>
    </div>
</div>

  <script>

    $('#videolink').magnificPopup({
      type:'inline',
      midClick:true,
    })

  </script>
