<div class="content__video">

    <a class="btn__video" href="#videostory" id="videolink">Découvrir</a>

    <div id="videostory" class="mfp-hide h-100 d-flex align-items-center justify-content-center">
      <iframe width="auto" height="auto" src="https://www.youtube.com/embed/4t__wczfpRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

  <script>

    $('#videolink').magnificPopup({
      type:'inline',
      midClick:true,
    })

  </script>
