<%#= image_tag("headphone.jpg", :alt => "images", id:"landing-img") %>
<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<div class="slideshow">
	<div class="slides">


			<h2 class="slide__title">Dazoo</h2>
			<p class="slide__desc">A matter of delicate proportions and aesthetics.
      <%= render 'shared/video' %>
      </p>

  </div>
</div>

  <%= render 'shared/footer' %>
