<%#= render 'shared/menu' %>

<%#= image_tag("headphone.jpg", :alt => "images", id:"landing-img") %>
<%= render 'shared/navbar' %>
<div class="slideshow">
	<div class="slides">
		<div class="slide slide--current">
			<div class="slide__img"></div>
			<h2 class="slide__title">Dazoo</h2>
			<p class="slide__desc">A matter of delicate proportions and aesthetics.</p>
			<a class="slide__link" href="#">Découvrir</a>
    </div>
  </div>
</div>
  <%#= render 'shared/footer' %>
