<%#= image_tag("headphone.jpg", :alt => "images", id:"landing-img") %>
<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<div class="home1">
	<div class="home2">
			<h2 class="hometitle">Dazoo</h2>
			<p class="homedesc">A matter of delicate proportions and aesthetics.
      <%= render 'shared/video' %>
      </p>
  </div>
</div>
  <%= render 'shared/footer' %>
