<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<h1 class="pagetitle">Dazoo</h1>
<div class="home1">
	<div class="home2">
			<p class="homedesc">Tranquil as a forest But on fire within Once you find your center You are sure to win You're a spineless pale pathetic lot And you haven't got a clue
        <div class="scroll-more">↓</div>
      </p>
      <%= render 'shared/video' %>
  </div>
</div>
  <%= render 'shared/footer' %>
