<%= render 'shared/navbar' %>
<%= render 'shared/menu' %>
<h1>Dazoo</h1>
<div class="home1">
	<div class="home2">
			<p class="homedesc">A matter of delicate proportions and aesthetics.
      <%= render 'shared/video' %>
      </p>
  </div>
</div>
  <%= render 'shared/footer' %>
