.content__video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit !important;
}

.btn__video {
  width: 200px;
  height: 60px;
  font-size: 1.3rem;
  font-family: arial, sans-serif;
  font-weight: 700;
  position: relative;
  color: #fff;
  z-index: 0;
  border: none;
  //background: red;
  //overflow: hidden;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn__video:before {
  position: absolute;
  content: '';
  //background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background: linear-gradient(45deg, #fff, black, #FF5A53, #fff, black, #FF5A53, #fff, black, #FF5A53);
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  border-radius: 10px;
}

.btn__video:active {
  color: #FF5A53
}

.btn__video:active:after {
  background: transparent;
}

.btn__video:hover:before {
  opacity: 1;
}

.btn__video:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;;
  left: 0;
  top: 0;
  border-radius: 10px;
  text-decoration: none !important;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
