#faq{
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  //min-height: 100vh;
}

#faq .add{ /*Add is the name for the + icon*/
  display: block;
}

#faq .remove{ /*Remove is the name for the - icon*/
  display: none;
}

#faq i{
  font-size: 30px;
}

/*Accordion container*/
.accordion{
  max-width: 800px;
  top: 100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  background-color: transparent;
  border-bottom: 3px solid #ff6666;

  margin-bottom: 10px;
  padding: 10px;
}

/*Styles for the question*/

.accordion-title{
  display: flex;

  align-items: center;
  justify-content: space-around;

  color: #fff;
  font-size: 18px;
  font-family: 'Roboto Slab',serif;
  font-weight: 600;

  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  transition-duration: 0.5s;
}

.accordion-title:hover{
  color: #FF5A53;
}

.accordion-title h2{
  width: 80%;
}

/*Styles for the answer*/

.accordion-content{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #FF5A53;
  transition: max-height 0.6s;
  font-family: 'Roboto Slab',serif;
  font-weight: 400;
}

.accordion-content p{
  padding: 20px;
  color: white;
  font-family: 'Roboto Slab',serif;
  font-size: 18px;
}

.accordion-title .accordion-content {
  outline: none;
}

@media (max-width: 800px) {

  #faq {
    min-height: 100vh;
  }
}
