:root {
  --inset: 1vmin;
  --color0: #FAFAFA;
  --color1: #222;
  --duration: 5s;
}

#cooldazoologo {
  width: 100px;
}

#cooldazoologo:hover {
  transform: scale(1.1);

}

#dazooLogo {
  //margin-top: 0px;
  margin-right: 30px;
  //block-size: 15vmin;
  //inline-size: 15vmin;
  //display: grid;
  //place-items: center;
  // rotate: 45deg;
  //overflow: hidden;
  box-shadow: inset 0 0 10px black, 0 0 10px black;
  filter: drop-shadow(0 0 10px var(--color0)) saturate(2);
/*
  #cooldazoologo {

      inline-size: 100%;
      block-size: 100%;
      overflow: hidden;
      clip-path: inset(var(--inset));

      img {

          display: block;
          inline-size: 100%;
          block-size: 100%;
          object-fit: cover;
          rotate: -45deg;
          scale: 1.6;
      }
  }

  &::before {
      content: '';
      display: block;
      inline-size: 100%;
      block-size: 100%;
      position: absolute;
      background: repeating-conic-gradient(transparent, var(--color0) 25deg, var(--color1) 22.5deg, transparent 90deg);
      animation: var(--duration) f linear infinite;
      scale: 1.6;
      @keyframes f {
          0% { rotate: 0 }
          100% { rotate: 1turn }
      }
  }
  */
}

// ---- chrome Version 87.0.4280.141 (Official Build)


/*
@supports not (rotate: 0deg) {
  #dazooLogo {

      #test {
          img {
              transform: rotate(-45deg) scale(1.6);
          }
      }
      &::before {
          transform: scale(1.6);
          animation-name: g;
      }
  }
  @keyframes g {
      0% { transform: rotate(0) scale(1.6) }
      100% { transform: rotate(1turn) scale(1.6) }
  }
}

*/
