@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);

.home1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.home2 {
	//position: absolute;
	width: 50%;
	height: 50%;
}

.homedesc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  //width: 50%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto Slab',serif;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: 24px;
  text-decoration: none;
  font-style: italic;
}

.homedesc {
  text-transform: uppercase;
  color: #b9dfff;
  color: #fff;

  text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #FF5A53,0 0 35px black,0 0 40px black;
}

@media (max-width: 800px) {

  .hometitle {
    padding-top: 18px;
    padding-right: 150px;
    font-size: 36px;
    line-height: 40px;
    clear:left;
    //height:100%;
    //z-index: 0;
    text-align:center;
  }

  .homedesc {
    //position: absolute;
    width: 100%;
    text-transform: none;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    //flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home1 {
    top: 50px;
    height: 100%;
  }
}
