.home2 {
	//position: absolute;
	width: 100%;
	height: 100%;
}

.hometitle {
padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  //top: -30px;
	color: #fff;
  font-size: 60px;
  font-family: 'Montserrat',serif;
  font-weight: 700;
  letter-spacing: 8px;
  line-height: 62px;
  text-transform: uppercase;
  text-decoration: none;
  //position: relative;
}

.homedesc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 18px;
  font-family: 'Playfair Display',serif;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: 24px;
  text-decoration: none;
  font-style: italic;
  //text-rendering: optimizeSpeed;
  //position: relative;
}


@media (max-width: 800px) {

  .hometitle {
    padding-top: 18px;
    padding-right: 150px;
    font-size: 36px;
    line-height: 40px;
    //position:relative;
    //margin:0 auto;
    clear:left;
    //height:100%;
    //z-index: 0;
    text-align:center;
  }

  .homedesc {
    padding: 110px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
