// Number of slides
$slide-count: 5;

// Tab colours (must be same as number of slides)
$c-slides: #FF5A53 #FF5A53 #FF5A53 #FF5A53 #FF5A53;

// Slide backgrounds (if used, must be same as number of slides, otherwise false)
// $b-slides: url('https://placehold.it/2000x2500/2E112D/fff?text=1') url('https://placehold.it/2000x2500/540032/fff?text=2') url('https://placehold.it/2000x2500/820333/fff?text=3') url('https://placehold.it/2000x2500/C9283E/fff?text=4') url('https://placehold.it/2000x2500/F0433A/fff?text=5');
// $b-slides: false;

// Total duration of slide animation
$animation-duration: 1s;

// Dimensions of the slides
$slide-width: 80%;
$slide-height: 20%;

// Slide content overflow (auto or hidden)
$slide-overflow: auto;

// Slide content colours
// $c-black: #000;
// $c-grey: #AAA;
// $c-light-grey: #DDD;

// Other colours
// $c-background: #101010;
// $c-text: $c-light-grey;
// $c-label-text: $c-grey;

/****************************************/


.check {
  position: absolute;
  opacity: 0;
  top: -25px;

  //padding-left: 100px;
  counter-increment: slide;

  &:checked + .slide1 {
    transform: translateX(0px);
    transition: transform #{$animation-duration / 2} ease-in-out;

    .slide__content {
      width: 100%;
      display: block;


      &:before {
        color: #fff;
        position: absolute;
        bottom: 30px;
        right: 10px;
        content: counter(slide) ' of #{$slide-count}';
        //padding: 5px 10px;
        background-color: rgba(255,255,255,0.1);
        border-radius: 4px;
        text-align: right;
      }
    }
  }

  @for $i from 1 through $slide-count {
    &:checked:nth-of-type(#{$i}) ~ .art label:nth-child(#{$i}) {
      color: #FF5A53;
    }
  }
}

@mixin slide-popout {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide1 {
  transform: translateX(#{-$slide-width * 2});
  position: absolute;
  width: $slide-width;
  height: $slide-height;
  background-size: $slide-width $slide-height;
  transition: transform #{$animation-duration / 2} ease-in-out;
  padding-left: 200px;

  &__content {
    box-sizing: border-box;
    height: 100%;
    overflow: $slide-overflow;
    padding: 50px;
    // color: $c-text;
    //position: absolute;
    left: 100%;
    display: none;
    animation-name: fade-in;
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    opacity: 1;
  }
}

.art {
  position: absolute;
  bottom: 15px;
  right: 25%;

  width: 50%;
  height: 60px;
  overflow: auto;
  background-size: 100%;
  height: 60px;
  // background: linear-gradient(to bottom, rgba(0,0,0,0), $c-background 10%)
}

.slide-button {
  box-sizing: border-box;
  // color: $c-label-text;
  font-weight: bold;
  display: block;
  width: calc((100% / #{$slide-count}) - 2%);
  //margin: 5px 1% 5px 1%;
  height: 50px;
  line-height: 50px;
  // border-bottom: solid 4px $c-grey;
  text-align: center;
  float: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    color: #FFF;
    border-bottom: solid 4px #FFF;
  }

  $i: 1;
  @each $slide in $c-slides {
    &:nth-child(#{($i)}) {
      left: calc(50% + (#{$i - 1} * (50% / #{$slide-count})));
      border-bottom-color: $slide;
    }
    $i: $i + 1;
  }
}


.card__date:hover {
  cursor: pointer;
  //color: #FF5A53;
  -webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media(max-width: 1250px) {
  .slide1 {
    width: 100%;
    //height: auto;
    padding-left: 0px;
    //padding-right: 75px;
    padding-top: 0px;;
  }

  .slide-button {
    width: 100%;
    //margin: 5px 0px 5px 0px;


  }

  .slide1 .slide__content:before {
    display: none;
  }

  .slide__content {
    width: 90%;
    //display: block;
    //left: 0;
    height: 100%;
  }
}
