.mfp-hide {
  display: none !important;
}

.button .fa {
  margin-left: 20px;
}

iframe {
  display: block;
  margin: 0 auto;
  //margin-left: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 70% !important;
  height: 600px !important;
}

button.mfp-close {
  display: block;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 44px;
  //position: absolute;
  //right: 40px;
  //align-items: center;
}

.mfp-close-btn-in .mfp-close {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 44px;
  //position: absolute;
  align-items: center;
  right: 40px;
  color: red
}

.mfp-content {
  justify-content: center;
  align-items: center !important;
}

#videostory {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

}

#videolink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

@media(max-width: 800px) {
  #videostory iframe {
    max-width: 90%;
  }
}
